<?xml version='1.0' encoding='utf-8'?>

<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
    
<hibernate-configuration>

<session-factory>

<!-- JDBC Database connection settings -->
<property name="connection.driver_class">org.postgresql.Driver</property>

<property name="connection.url">jdbc:postgresql://localhost:5432/postgres</property>

<property name="connection.username">postgres</property>

<property name="connection.password">admin</property>

<!-- JDBC connection pool settings ... using built-in test pool -->
<property name="connection.pool_size">1</property>

<!-- Select our SQL dialect -->
<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>

<!-- Echo the SQL to stdout -->
<property name="show_sql">true</property>

<property name="hibernate.id.new_generator_mappings"> value="true"</property>

<!-- Drop and re-create the database schema on startup -->
<property name="hbm2dll.auto">create</property>

<!-- Name the annotated entity class -->
<mapping class="App.Usuario"/>
<mapping class="Entidades.Anio"/>
<mapping class="Entidades.Cliente"/>
<mapping class="Entidades.Cuota"/>
<mapping class="Entidades.Direccion"/>
<mapping class="Entidades.HijoDeclarado"/>
<mapping class="Entidades.Localidad"/>
<mapping class="Entidades.Marca"/>
<mapping class="Entidades.MedidasSeguridad"/>
<mapping class="Entidades.Modelo"/>
<mapping class="Entidades.Pais"/>
<mapping class="Entidades.PolizaMensual"/>
<mapping class="Entidades.PolizaSemestral"/>
<mapping class="Entidades.Provincia"/>
<mapping class="Entidades.Recibo"/>
<mapping class="Entidades.SolicitudPoliza"/>
<mapping class="Entidades.TipoCobertura"/>
<mapping class="Entidades.ValoresPorcentualesActuales"/>
<mapping class="Entidades.ValoresPorcentualesPoliza"/>
<mapping class="Enumerados.CondicionIVA"/>
<mapping class="Enumerados.EstadoPoliza"/>
<mapping class="Enumerados.EstadoCliente"/>

</session-factory>

</hibernate-configuration>